/* Tab Container */
.Tabs {
    width: 95%;

    background: transparent;
    padding-top: 2rem;
    color: rgba(0, 0, 0, 0.644);
    @media (max-width: 769px) {
        padding: 2rem 0;
    }
    
}

/* Tab Navigation */
ul.nav {
    width: 95%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    padding: .35rem;
    background-color: var(--text-color-lighten);
    box-shadow: 0 5px 20px hsla(var(--hue), var(--sat), var(--lig), .2);
  }
   
  ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    color: var(--text-color);
    
  }

  
  ul.nav li:active {
    transition: 0.1s;
    box-shadow: 2px 2.5px 2px 1px rgba(0,0,0,0.35) inset;
  }
  
  ul.nav li:first-child {
    width: 35%;
    border-radius: 10px;
  }
   
  ul.nav li:last-child {
    width: 35%;
    border-radius: 10px;
  }
  
  ul.nav li:hover {
    background: var(--background);
  }
  
  ul.nav li.active {
    background: var(--background);
    box-shadow: 2px 2.5px 2px 1px rgba(0,0,0,0.35) inset;
  }
  
  .dark-theme li {
    color: #fff;
  }



  /* ---- FILTROS ----- */

.filters__content {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: .375rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}
  
.filters__button {
  width: 100px;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: .75rem;
  cursor: pointer;
  background-color: transparent;
  transition: .1s;
}
  
.filters__button:hover {
  background-color: var(--body-color);
}
  
/* ------ PROJECTOS  ---- */
  
.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
  
.projects__card img{
  width: 100%;
  height: 100%;
}

  
.projects__modal{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg,
              hsla(var(--hue), 24%, 40%, .3) 0%,
              hsla(var(--hue), 24%, 4%, 1) 195%);
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: .5s;
}
  
.projects__subtitle,
.projects__title {
  color: #fff;
}
  
.projects__subtitle{
  font-size: var(--smaller-font-size);
}
  
.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}
  
.projects__button{
  padding: .5rem;
}

.projects__button:active{
  transition: 0.1s;
  box-shadow: 2px 2.5px 2px 1px rgba(0,0,0,1) inset;
}
  
.projects__card:hover .projects__modal {
  bottom: 0;

}
  
/* --- SKILLS  --- */
  
.skills__content {
  row-gap: 3.5rem;
  text-shadow: 3px 5px 6px rgba(0,0,0,0.1);
}
  
.skills__title{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
  
.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}
  
.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
  
.skills__data {
  display: flex;
  column-gap: .5rem;
}
  
.skills__data i {
  font-size: 1rem;
  color: var(--first-color);
}
  
.skills__name{
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}

span{
  font-size: var(--small-font-size);
  color: var(--text-color-light)
}
  
/* Ocultar y Mostrar projectos & skills */
.filters [data-content] {
  display: none;
}
  
.filters__active[data-content]{
  display: grid;
}
/* Activar botton de filtro */
.filter-tab-active{
  background-color: var(--body-color);
}

.i {
  font-size: 1.2rem;
  color: var(--first-color);
}

.two {
  margin-left: 1rem;
}